.feedback {
  &,
  &-container {
    height: 675px;
  }

  &-container {
    position: relative;
  }

  &-form-control {
    border-color: $white;
  }

  &-checkbox {
    line-height: 1.25;
    position: relative;
    top: -.15rem;
  }

  &-modal {
    &.modal {
      position: absolute;
      width: auto;
      overflow: visible;
      left: -15px;
      right: -15px;

      .modal-dialog {
        max-width: none;
      }
    }
  }
}
