@font-face {
  font-family: 'DinDisplay';
  src: url('../fonts/pfdindisplaypro-light-webfont.eot');
  src: url('../fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro-light-webfont.woff2') format('woff2'),
  url('../fonts/pfdindisplaypro-light-webfont.woff') format('woff'),
  url('../fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'),
  url('../fonts/pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DinDisplay';
  src: url('../fonts/pfdindisplaypro-medium-webfont.eot');
  src: url('../fonts/pfdindisplaypro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro-medium-webfont.woff2') format('woff2'),
  url('../fonts/pfdindisplaypro-medium-webfont.woff') format('woff'),
  url('../fonts/pfdindisplaypro-medium-webfont.ttf') format('truetype'),
  url('../fonts/pfdindisplaypro-medium-webfont.svg#pf_dindisplay_promedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DinDisplay';
  src: url('../fonts/pfdindisplaypro-bold-webfont.eot');
  src: url('../fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro-bold-webfont.woff2') format('woff2'),
  url('../fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
  url('../fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'),
  url('../fonts/pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
  font-weight: 700;
  font-style: normal;
}
