@mixin sprite($filename) {
  & {
    @if $filename == icon-close-primary {
      height: 42px;
      width: 42px;
      min-width: 42px;
    }
    @if $filename == icon-durability {
      height: 86px;
      width: 76px;
      min-width: 76px;
    }
    @if $filename == icon-instruction-step-1 {
      height: 168px;
      width: 168px;
      min-width: 168px;
    }
    @if $filename == icon-instruction-step-2 {
      height: 168px;
      width: 168px;
      min-width: 168px;
    }
    @if $filename == icon-instruction-step-3 {
      height: 168px;
      width: 168px;
      min-width: 168px;
    }
    @if $filename == icon-instruction-step-4 {
      height: 168px;
      width: 168px;
      min-width: 168px;
    }
    @if $filename == icon-instruction-step-5 {
      height: 168px;
      width: 168px;
      min-width: 168px;
    }
    @if $filename == icon-plus-white {
      height: 21px;
      width: 21px;
      min-width: 21px;
    }
    @if $filename == icon-roofmast-logo-white-xl {
      height: 253px;
      width: 694px;
      min-width: 694px;
    }
    @if $filename == icon-simplicity {
      height: 89px;
      width: 77px;
      min-width: 77px;
    }
    @if $filename == icon-sound-proof {
      height: 88px;
      width: 94px;
      min-width: 94px;
    }
    @if $filename == icon-warranty-10 {
      height: 81px;
      width: 225px;
      min-width: 225px;
    }
    @if $filename == icon-water-proof {
      height: 89px;
      width: 61px;
      min-width: 61px;
    }
    @if $filename == icon-wind-proof {
      height: 77px;
      width: 96px;
      min-width: 96px;
    }
  }

  &::before {
    @if $filename == icon-close-primary {
      background-position: -694px -264px;
      height: 42px;
      width: 42px;
    }
    @if $filename == icon-durability {
      background-position: -694px -89px;
      height: 86px;
      width: 76px;
    }
    @if $filename == icon-instruction-step-1 {
      background-position: 0px -421px;
      height: 168px;
      width: 168px;
    }
    @if $filename == icon-instruction-step-2 {
      background-position: 0px -253px;
      height: 168px;
      width: 168px;
    }
    @if $filename == icon-instruction-step-3 {
      background-position: -168px -253px;
      height: 168px;
      width: 168px;
    }
    @if $filename == icon-instruction-step-4 {
      background-position: -336px -253px;
      height: 168px;
      width: 168px;
    }
    @if $filename == icon-instruction-step-5 {
      background-position: -504px -253px;
      height: 168px;
      width: 168px;
    }
    @if $filename == icon-plus-white {
      background-position: -736px -264px;
      height: 21px;
      width: 21px;
    }
    @if $filename == icon-roofmast-logo-white-xl {
      background-position: 0px 0px;
      height: 253px;
      width: 694px;
    }
    @if $filename == icon-simplicity {
      background-position: -694px 0px;
      height: 89px;
      width: 77px;
    }
    @if $filename == icon-sound-proof {
      background-position: 0px -589px;
      height: 88px;
      width: 94px;
    }
    @if $filename == icon-warranty-10 {
      background-position: -168px -421px;
      height: 81px;
      width: 225px;
    }
    @if $filename == icon-water-proof {
      background-position: -694px -175px;
      height: 89px;
      width: 61px;
    }
    @if $filename == icon-wind-proof {
      background-position: -393px -421px;
      height: 77px;
      width: 96px;
    }
  }
}
